/* Import this font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
   --bg-blue: #d1e9ff;
   --bg-grey: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    /* light grey to dark grey gradient */
    background-color: var(--bg-grey);
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 25px 0 25px 0;
    background-color: var(--bg-blue);
}

.header-group {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

@media all and (min-width: 650px) {
    .header-group {
        flex-direction: row;
        width: 650px;
    }
}

.jed-picture {
    width: 260px;
    margin: 10px auto;
    /* make my picture round.*/
    border-radius: 50%;
    overflow: hidden;
}

.jed-picture img {
    width: 100%;
    display: block;
}

.header-info {
    margin: auto;
    padding: 0 20px;
}

header h2 {
    /* this font is lighter than the rest */
    color: #787878;
    margin: 5px 0 0 0;
}

header p {
    color: #787878;
    margin: 0 0 5px 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding-left: 0;
}

.navbar li {
    list-style: none;
    margin: 20px 0 10px 0;
}

.navbar li a {
    text-decoration: none;
    border-radius: 50px;
    padding: 23px 10px;
}

.navbar li a:hover {
    background-color: darkgrey;
}

main {
    padding: 10px 20px;
    margin: auto;
    width: 350px;

}

@media all and (min-width: 650px) {
    main {
        width: 650px;
    }
}

hr {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 70px;
    color: #0013c2;
    margin: 0;
}

h2 {
    color: #0013c2;
}

h3 {
    margin: 10px 0 5px 0;
    padding: 0;
}

ol {
    margin: 0;
}

footer {
    width: 350px;
    margin: auto;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

@media all and (min-width: 650px) {
    footer, .group {
        width: 650px;
    }
    .group {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.project {
    width: 295px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d1e9ff;
}

.project p {
    margin: 0;
}

/* link styles */
a:link {
    color: #0013c2;
}

a:hover {
    color: #6200ff;
}

.form-container {
    padding: 10px;
    margin: 15px 0 0 0;
    background-color: var(--bg-blue);
    border-radius: 10px;
}

input[type=text], [type=email], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 100px;
    min-height: 50px;
}

button[type=submit] {
    background-color: var(--bg-grey);
    border: none;
    padding: 8px 10px;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

button[type=submit]:hover {
    background-color: darkgrey;
}
